{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- START STYLES -->
{% block styles %}
{{ super() }}
    <style>
        html{display: inline-block;}
        body{
            width: 100%
            height: 100%
            display: block;
            align-items: center;
            justify-content: center;
            background-color: black;
            color: darkgrey;
        }
        .image{
            width:80%;
            margin:auto;
        }

        #pydis{
            width: 10%;
        }
        .brand{
            display: flex;
            margin: auto;
            padding: 10;
            justify-content: space-between;
            border: 2px solid goldenrod!important;
            width: 80%;
        }
        .glow-on-hover {
            width: 220px;
            height: 50px;
            border: none;
            outline: none;
            color: #fff;
            background: #111;
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius: 10px;
        }
        .glow-on-hover:before {
            content: '';
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left:-2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing 20s linear infinite;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
        }
        .glow-on-hover:active {
            color: #000
        }
        .glow-on-hover:active:after {
            background: transparent;
        }
        .glow-on-hover:hover:before {
            opacity: 1;
        }
        .glow-on-hover:after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #111;
            left: 0;
            top: 0;
            border-radius: 10px;
        }
        @keyframes glowing {
            0% { background-position: 0 0; }
            50% { background-position: 400% 0; }
            100% { background-position: 0 0; }
        }
    </style>
{% endblock %}
<!-- END STYLES -->

<!-- START TITLE -->
{% block title %}
OPTIONS
{% endblock %}
<!-- END TITLE --> 

<!-- START CONTTENT -->
{% block content %}

<div class="container">
    <center>
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
                <div class="brand">  
                    <img id="pydis" class="image"  src="{{ url_for('static', filename='img/bot_logo.jpeg') }}">
                    <img class="image" src="{{ url_for('static', filename='img/logo_text.png') }}">
                </div>
                <br />
                <h1 class="pt-5 pb-2">{{ title }}</h1>
                <!--
                <p class="lead">Gebe hier einen Text ein</p>
                -->
                {{ wtf.quick_form(form) }}
                <br />
                <p class="pt-5"><strong>{{ message }}</strong></p>
                
                
            </div>
            <hr>
            <a href="/"><button class="glow-on-hover">HOME</button></a>
            <hr>
            <div class="copyright">
                <script>
                    document.write('&copy;' );
                    document.write(' 2021 - ');
                    document.write(new Date().getFullYear());
                    document.write(' S3R43o3 - All Rights Reserved.');
                    document.write('<br/>Last Updated : ');
                    document.write(document.lastModified);
                </script>
            </div>
        
        </div>
    </center>
</div>

{% endblock %}
<!-- END CONTENT-->