<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Python Discord-Bot</title>
</head>


<body>
    <div class="block">    
        <nav class="navbar">
            <a class="navbar-item" href="#">HOME</a>
        </nav>

        <h1>
            DUDE v0.1 - Discord-Bot © S3R43o3
        </h1>
        <table id="myTable" width="100%">          
            <tbody>
            <tr>
             <td>Staus</td>
             <td>{{Staus}}</td>
            </tr>
          
            <tr>
             <td>Botname:</td>
             <td>{{bot_name}}</td>
            </tr>
                  
            <tr>
             <td>Server-Name:</td>
             <td>{{server_name}}</td>
            </tr>          
            <tr>
                <td>Server-ID:</td>
                <td>{{server_id</td>
            </tr>
            <tr>
                <td>
                    s
                </td>
            </tr>
            
            
            </tbody>
          </table>
    
    
    </div>
</body>

</html>