<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DUDE | COMMANDS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="javascript" src="{{ url_for('static', filename='js/script.js') }}">
</head>


<body>
    <div class="brand">  
        <img id="pydis" class="image"  src="{{ url_for('static', filename='img/bot_logo.jpeg') }}">
        <img class="image" src="{{ url_for('static', filename='img/logo_text.png') }}">
    </div>
    <br />
    <br />   
    <center>
        <!-- title -->
        <h1>Bot Kommandos</h1>
    <br />
    <br>
    <h2>Member Befehle</h2>
    <table class="table table-borded">          
        <tbody>
            <tr>
                <th scope="col">BEFEHL</th>
                <th scope="col">AKTION</th>
            </tr>
            <br />
            <tr>
                <td>!hi</td>
                <td class="green-text">DudeBot sagt dir Hallo</td>
            </tr>
        
            <tr>
                <td>!commands</td>
                <td class="green-text">DudeBot zeigt eine Liste mit Befehlen</td>
            </tr>

            <tr>
                <td>!homepage</td>
                <td class="green-text">DudeBot erstellt einen Link zur Homepage</td>
            </tr>

            <tr>
                <td>!invite</td>
                <td class="green-text">DudeBot generiert einen Discord-Einladungslink</td>
            </tr>          
            
            <tr>
                <td>!status</td>
                <td class="green-text">DudeBot zeigt den aktuellen Entwicklungsstatus des Spiels</td>
            </tr>
            <tr>
                <td>!musik</td>
                <td class="green-text">DudeBot zeigt dir die Befehlsliste für den Musik-Bot.</td>
            </tr>

            <tr>
                <td>!emoji</td>
                <td class="green-text">DudeBot zeigt dir eine Liste mit den Custom-Emojis</td>
            </tr>
            </tbody>
        </table> 
    <br />
    <br>
    <br />
    <h2>Administrator Befehle</h2>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="col">BEFEHL</th>
                <th scope="col">AKTION</th>
            </tr>
            <br />
            <tr>
                <td>!state.maintain</td>
                <td class="green-text">Setzt DudeBot in den Wartungsmodus</td>
            </tr>
            <tr>
                <td>!state.return</td>
                <td class="green-text">Re-aktiviert DudeBot aus dem Wartungsmodus</td>
            </tr>
            <tr>
                <td>!todo.audio</td>
                <td class="green-text">DudeBot zeigt die Audio-Todoliste</td>
            </tr>
        </tbody>
    </table>

    <br>
    <br />
    <div class="container">
        <a href="/"><button class="glow-on-hover" type="button">HOME</button></a>
        <a href="/stats"><button class="glow-on-hover" type="button">STATUS</button></a>
        <a href="/options"><button class="glow-on-hover" type="button">OPTIONEN</button></a>
        <a href="https://github.com/sera619/PythonDiscordBot" target="_blank"><button class="glow-on-hover" type="button">HILFE</button></a>      
    </div>
    <br>  
    <br />
    <div class="copyright">
 
    <script>
        document.write('&copy;' );
        document.write(' 2021 - ');
        document.write(new Date().getFullYear());
        document.write(' S3R43o3 - All Rights Reserved.');
        document.write('<br/>Last Updated : ');
        document.write(document.lastModified);
    </script>
    </div>
    </center>
</body>

</html>